
    /* background-image: linear-gradient(
      293deg,#77b0c1 -15.38%,#a483dc 57.43%,#cd77a3 94.88%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; */

          @font-face {
            font-family: "MarkPro Bold";
            src: url("../MarkPro-Bold.otf");
        }
    

        body {
            font-family: "Sen", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        address,
        blockquote,
        body,
        button,
        code,
        dd,
        dl,
        dt,
        fieldset,
        form,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        hr,
        html,
        input,
        legend,
        li,
        ol,
        p,
        pre,
        table,
        td,
        textarea,
        th,
        ul {
            margin: 0;
            padding: 0;
        }
        ul {
            list-style: none
        }

        a {
            text-decoration: none;
        }

        *,
        :after,
        :before {
            box-sizing: border-box;
        }
        img, video {
            max-width: 100%;
            height: auto;
        }


        .bg-header {
            background-color: #262626;
            background-position: top  center;
            background-repeat: no-repeat;
            --featured-img: linear-gradient(180deg,#fff,#262626);
            background-image: radial-gradient(50% 50% at top center,rgba(0,0,0,.75),#262626),var(--featured-img);
            background-size: 120% 2000px,100% 2000px;   
        }    

        .font-header {
            font-family: "Sen", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        .header {
            display: flex;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            justify-content: space-between;
            align-items: center;
            ;
        }

        .h-img-logo {
            height: 32px;
        }
        
        .nav-hidden {
            display: none;
        }

        .btn {
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 30px;
            padding-right: 30px;
            --border-opacity: 1;
            border-color: rgba(168, 168, 170, var(--border-opacity));
            border-radius: 9999px;
            border-width: 1px;
            border-style: solid;
        }

        .btn:hover {
            border-color: #fff;
        }

        .bg-hello{
            /* position:absolute; */
            width: 200px;
            height: 80px;
            top: 200px;
            margin-bottom: 25px;            
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(30px);
            border-radius: 9999px;
            --border-opacity: 0.5;
            border-color: rgba(168, 168, 170, var(--border-opacity));
            border-style: solid;
            border-width: 1px;
            margin-left: auto;
            margin-right: auto;
        }
        .emogi{
            padding: 0 10px;
        }
        .saludo{
            padding: 0 15px 0 0;
        }
        .text-xl{
            font-size: 18px;
            font-weight: 800;
            font-family: 'Poppins', sans-serif;
        }
        /* .img-header{
            top:100px;
        } */
       
        /* Standar */
        .flex {
            display: flex;
        }
        .block {
            display: block;
        }

        .items-center {
            align-items: center;
        }

        .relative {
            position: relative;
        }

        .text-white {
            color: #fff;
        }

        .font-semi-bold {
            font-weight: 600;
        }

        .text-lg {
            font-size: 16px;
        }
        .text-sm{
            font-size: 11px;
        }
        
        .mx-auto{
            margin-left: auto;
            margin-right: auto;
        }
        .w-full {
            width: 100%;
        }
        .marge-prueba {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .space> :not([hidden])~ :not([hidden]) {
            --tw-space-x-reverse: 0;
            margin-right: calc(2.5rem * var(--tw-space-x-reverse));
            margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
        }


        /*  */
  


 /*-----MEDIDAS--------*/
    @media (min-width: 640px) {
      .container {
        width: 100%;
    }
   }

    @media (min-width: 640px) {
      .container {
        max-width: 640px;
      }     
    }
  
    @media (min-width: 768px) {
      .container {
        max-width: 768px;
      }
    }
    @media (min-width: 1024px){
        .container {
            max-width: 1024px;
          }
        .header {
            padding-left: 36px;
            padding-right: 36px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .h-img-logo {
            height: 40px;
        }
        .hg-img-hero{
            width:608px;
        }
        .btn-hidden {
            display: none;
        }

        .nav-hidden {
            display: block;
        }
        .img-header{
            margin-top: 100px;
        }
        .bg-hello{
            position:absolute;
            width: 240px;
            height: 100px;                         
            border-width: 1px;
            margin-left:130px;
            margin-top: 120px;
            margin-right: auto;
        }
        .text-xl{
            font-size: 25px;
        }

    }
 
    @media (min-width: 1280px) {
      .container {
        max-width: 1280px;
      }
      .bg-hello{          
        margin-left: 250px;
            margin-top: 110px;
    }
    }
    
  
    @media (min-width: 1536px) {
      .container {
        max-width: 1300px;
      }
      .bg-hello{          
        margin-left: 600px;
        margin-top: 100px;
    }
    }

