        
/* <!-- ======================================= 
        ==CSS-General==  
=======================================--> */    
        @font-face {
            font-family: "MarkPro Bold";
            src: url("../MarkPro-Bold.otf");
        }
        body {            
            background: #313131;
            font-family: "Sen", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
        address,
        blockquote,
        body,
        button,
        code,
        dd,
        dl,
        dt,
        fieldset,
        form,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        hr,
        html,
        input,
        legend,
        li,
        ol,
        p,
        pre,
        table,
        td,
        textarea,
        th,
        ul {
            margin: 0;
            padding: 0;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        a {
            text-decoration: none;
        }
        *,
        :after,
        :before {
            box-sizing: border-box;
        }
        img, video {
            max-width: 100%;
            height: auto;
        } 

/* <!-- ======================================= 
==CSS Clase General==  
=======================================--> */
.flex {
    display: flex;
}
.block {
    display: block;
}
.items-center {
    align-items: center;           
}
.justify-content{
    justify-content: center;
}
.relative {
    position: relative;
}
.text-white {
    color: #fff;
}
.font-semi-bold {
    font-weight: 600;
}
.text-xl{
    font-size: 17px;
}
.text-lg{
    font-size: 15px;
}
.text-md {
    font-size: 13px;
}
.text-sm{
    font-size: 11px;
}      
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.w-full {
    width: 100%;
}
.marge-prueba {
    padding-top: 20px;
}
.space> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--tw-space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.pd-mb-top{
    margin-top: 15px;
}
.pd-mb-bottom{
    margin-bottom: 15px;
}

/* <!-- ======================================= 
==End CSS Clase General==  
=======================================--> */        
/* <!-- ======================================= 
        ==CSS Standar==  
=======================================--> */
        /* .bg-header {              
            background:
                radial-gradient(farthest-side at top left,
                    rgba(0, 194, 255, 0.2),
                    transparent 1000px),
                radial-gradient(farthest-corner at bottom right,
                    rgba(255, 50, 50, 0.2),
                    transparent 1000px);
                    
        } */
       
        .container{
            padding-left: 20px;
            padding-right: 20px;
        }
        .font-header {
            font-family: "Sen", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
        .header {
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            justify-content: space-between;
            align-items: center;
            box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px 0px;
            ;
        }
        .h-img-logo {
            height: 32px;
        }        
        .nav-hidden {
            display: none;
        }
        .dk-hero-hidden{
            display: none;
        }       
        .btn {
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 20px;
            padding-right: 20px;
            --border-opacity: 1;
            border-color: rgba(168, 168, 170, var(--border-opacity));
            border-radius: 9999px;
            border-width: 1px;
            border-style: solid;
            margin-right: 15px;
        }       
        .btn:hover {
            border-color: #fff;
        }
        .brands{
            max-width: 56rem;
            flex-wrap: wrap;
            margin-top: 5rem;
            margin-bottom: 5rem;           
        }
        .width-brands{
            width: 20%;    
        }
        .img-henry{
            padding: 0 7px 0 0;
            height: 50px;
         }
        .social-icon {
            position: absolute;
            right: 15px;
            bottom: 10px;
            z-index: 2;
            }
        .social-icon li {
            display: block;
            margin-bottom: 2px;
            }
        .social-icon li a {
            width: 46px;
            height: 46px;
            border-radius: 100%;
            color: #fff;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all 0.5s ease;
            }
        .social-icon li a svg {
            width: 15px;
            }  
        .henry {
            border-bottom: 1px solid #5c5b5b;
            padding-bottom: 15px;
        } 
        .pd-info{
            padding: 0 0 0 10px;
        }
        .img-area {
            position: relative;
        }
        .portfolio-content {
            width: 100%;
            padding-left: 0px;
            margin-top: 30px;
       }
       .single-portfolio {
        display: block;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 80px;
        }
        .portfolio-content h2 {
            line-height: 44px;
        }
        .portfolio-type {
            letter-spacing:1px;
            color: #D1AC90;
        }
        .icon-tec{
            border: 1px
             solid rgba(255, 255, 255, 0.1) !important;
             border-radius: 50%;
             height: 40px;width: 40px;
             margin-bottom: 15px;
             display: flex;
             align-items: center;
             justify-content: center;
        }
        .img-icon-tec{
            height: 30px;
            width: 30px;
        }
        .portfolio-content p {
            color: #ababab;
            font-size: 14px;
            line-height: 1.6;
            text-align: justify;
        }
        .link-btn {
            height: 40px;
            width: 40px;
            background: #D1AC90;
            border-radius: 100%;
            display: inline-flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
        }
        .count {
            position: absolute;
            right: -110px;
            top: 0px;
            font-size: 120px;
            line-height: 0.9;
            font-weight: 900;
            color: rgb(71, 67, 67);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            font-family: 'Roboto', sans-serif;            
        }
        .single-portfolio:nth-child(even) {
            flex-flow: row-reverse;
        }
        
        .single-portfolio:nth-child(even) .portfolio-content {
            padding-left: 0;
            padding-right: 0px;
        }
        .single-portfolio:nth-child(even) .img-area .count {
            left: -110px;
            right: inherit;
        }
        
        
        
        
        
        
/* <!-- ======================================= 
==Container-Responsibe-CSS==  
=======================================--> */
    @media (min-width: 640px) {
        .container {
            width: 100%;
        }
        .bk-bash{
            display: block;
        }
   }

    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
        .mb-hero-hidden{
            display: none;
        }
        .dk-hero-hidden{
            display: block;
        }
        .bk-bash{
            display: flex;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            justify-content: center;
            
        }
        .hidden {
            display: none;
        }
    }

    @media (min-width: 1025px){
        .container {
            max-width: 1024px;     
          }
        .bg-header {      
            /* --featured-img: linear-gradient(180deg,rgba(0, 194, 255),rgba(255, 50, 50)); */
            background:
                radial-gradient(farthest-side at top left,
                    rgba(0, 194, 255, 0.2),
                    transparent 1000px),
                radial-gradient(farthest-corner at bottom right,
                    rgba(255, 50, 50, 0.2),
                    transparent 1000px);
                /* radial-gradient(300px 300px at center center ,rgba(49,49,49,.80),rgb(49, 49, 49)),var(--featured-img); */

                    
        }

        .portfolio-section{
        background:
            radial-gradient(farthest-corner at top right,
            rgba(255, 50, 50, 0.2),
                    transparent 1000px);
            
        }
        .header {
            padding-left: 60px;
            padding-right: 60px;
            padding-top: 40px;
            padding-bottom: 0px;
            box-shadow: none;
        }
        .btn {
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 30px;
            padding-right: 30px;
            --border-opacity: 1;
            border-color: rgba(168, 168, 170, var(--border-opacity));
            border-radius: 9999px;
            border-width: 1px;
            border-style: solid;
        }
        .h-img-logo {
            height: 40px;
        }
        .hg-img-hero{
            width:608px;
        }
        .btn-hidden {
            display: none;
        }
        .nav-hidden {
            display: block;
        }
        .img-header{
            margin-top: 100px;
        }
        .text-xl{
            font-size: 25px;
        }
        .henry {
            position: absolute;
            width: 350px;
            height: 100px;
            right: 70px;
            top: 0;
        }
        .youtube{
            position: absolute;
            width: 350px;
            height: 100px;
            right: 0px;
            top: 80px;
        }
        .tuich{
            position: absolute;
            width: 350px;
            height: 100px;
            right: -40px;
            top: 160px;
        }       
        .dk-hero-hidden{
            display: block;
        }
        .bk-bash{
            display: flex;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            justify-content: center;
            
        }
        .social-icon {
            position: absolute;
            left: 55px;
            bottom: 250px;
            z-index: 2;
            width: 50px;
        }
        .marge-prueba {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
        }
       .img-area {
           width: 60% ;
        }
       .portfolio-content {
            width: 40%;
            padding-left: 40px;
            margin-bottom: 0;
        }
       .single-portfolio {
            display: flex;
        }
        .single-portfolio:nth-child(even) .portfolio-content {
            padding-left: 0;
            padding-right: 40px;
        }
        
    }
 
    @media (min-width: 1280px) {
        .container {
            max-width: 1280px;
        }
        .bg-hello{          
            margin-left: 250px;
            margin-top: 110px;
        }
        .henry {
            position: absolute;
            width: 350px;
            height: 100px;
            right: 170px;
            top: 0;
            border-bottom: none;
            padding-bottom:0;
            background-color:rgba(128,128,128,.2);
            padding: 0 5px;
        }
        .henry:hover{
            animation: bg-fade-in .2s ease-out forwards;
            background-color:#2e2e2e;
        }
        .youtube{
            position: absolute;
            width: 350px;
            height: 100px;
            right: 110px;
            top: 80px;
        }
        .tuich{
            position: absolute;
            width: 350px;
            height: 100px;
            right: 65px;
            top: 160px;
        }
        
        
    }
    
  
    @media (min-width: 1400px) {
        .container {
            max-width: 1400px;
      }
        .bg-hello{          
            margin-left: 600px;
            margin-top: 100px;
        }
        .henry {
            position: absolute;
            width: 355px;
            height: 70px;
            right: 170px;
            top: 0;
            border-radius: 8px;
            cursor: pointer;
            padding: 0 5px;
        }
        .youtube{
            position: absolute;
            width: 350px;
            height: 100px;
            right: 110px;
            top: 80px;
        }
        .tuich{
            position: absolute;
            width: 350px;
            height: 100px;
            right: 65px;
            top: 160px;
        }
    }

/* <!-- ======================================= 
==End-Container-Responsibe-CSS==  
=======================================--> */







